body , html {
    height: 100%;

}

body {
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'BioRhyme', serif;
    color: #4a697a;
}

.intro-left {
    background: url(../images/background-2.jpg);
    position: fixed;
    left: 0;
    width: 33%;
    height: 100%;
    color: #54302b;
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;

}

.full-height {
    height: 100%;
}

.quote {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
}

section {
    margin: 5rem;
    font-size: 1.5rem;
}

.footer {
    background-color: #ffe1cc;
    
    margin: 0;
}

.footer a {
    text-decoration: none;
    color:#4a697a ;
}

.panel-right {
    background-color:#ffe1cc;
}

#btn {
    color:#4a697a;
    border-color: #4a697a;
}

@media screen and (max-width:768px) {
    .intro-left {
        height: 50vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
}